@import 'functions';
@import 'variables';

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 2em 0 0;
  outline: none;
  background: $background-color;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  @media screen and (max-width:750px) {
    font-size: 1.1em;
  }
}

a {
  color: $nav-link-color;
  &:hover {
    color: $nav-link-color-hover;
    text-decoration: none;
  }
}

p, ul, ol, pre, table {
  font-size: 1.25em;
  line-height: 1.65;
}

p {
  margin: 1.2em 0;
  a {
    color: $nav-link-color-hover;
    &:hover {
      color: lighten($nav-link-color-hover, 15%);
    }
  }
}

svg {
  max-height: 100%;
}

.alert {
  margin: 0 0 .5em;
  font-size: 1em;
  border: none;
  &.alert-info {
    color: #B64926;
    background: lighten(#B64926, 35%);
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif', serif;
  margin: 2em 0 .8em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}


ul, ol {
  margin-left: 1.5em;
  ul {
    font-size: 1em;
  }
}

table, blockquote {
  margin: 3em 0;
}

pre {
  margin: 2.5em 0 2.5em;
  code {
    overflow-wrap: normal;
    white-space: pre;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px; /* or 950px */
}

.brand {
  text-align: left;
  margin-top: 2em;
  @media screen and (max-width:991px) {
    text-align: center;
  }
  #logo {
    max-width: 175px;
    max-height: 225px;
    @media screen and (max-width:750px) {
      max-width: 125px;
      max-height: 175px;
    }
  }

}
.accent-link {
    border-radius: 5px;
    &:hover {
      color: lighten($nav-link-color-hover, 55%);
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      background: lighten($nav-link-color-hover,10%) !important;
      box-shadow: 0 0 0 5px lighten($nav-link-color-hover, 20%);

    }
}
.main-nav {
  font-family: "Open Sans", serif;
  text-align: right;
  margin-top: 6em;
  padding: 0;
  ul {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: .2em;
  }
  @media screen and (max-width:991px) {
    margin-top: 2em;
    text-align: center;
    li > a {
      padding: .35em 0;
    }
    li {
      width: 25%;
    }
  }
  @media screen and (max-width:450px) {
    li {
      font-size: .75em;
    }
  }
}

.pager {
  margin: 4em 0;
  li>a {
    border: none;
  }
}

.post {
  margin-top: 6em;
  img {
    max-width: 100%;
    margin: 2em auto;
    display: block;
  }
  .post-title {
    font-size: 2.75em;
  }
  .post-title.loop-display {
    font-size: 2.25em;
  }
  .post-meta, time{
    margin: 0;
    color: lighten($text-color, 25%);
    a {
      color: $nav-link-color-hover;
      &:hover {
        color: lighten($nav-link-color-hover, 15%);
      }
    }
  }
  .comments {
    margin-top: 3em;
  }
  .asset {
    a {
      text-align: center;
      margin: .8em 0 3em;
      font-size: 1.2em;
      display: block;
      padding: 1em;
      background: #468966;
      border: 1px solid darken(#468966, 10%);
      box-shadow: 2px 2px 2px rgba(76, 76, 76, 0.36);
      &:hover {
        background: lighten(#468966, 10%);
      }
      &:active {
        background: darken(#468966, 10%);
      }
    }
  }
  h1,h2:first-child {
    margin-top: .25em;
  }
}

#mc_embed_signup {
  @media screen and (max-width:750px) {
    .btn {
      margin-top: 1em;
    }
  }
}

.site-footer {
  margin: 4em 0 0;
  color: #e1e0f3;
  padding: 2em 15px;
  text-align: left;
  background: #24242d;
  a {
    color: #B64926;
    text-shadow: 2px 0 0 #131313;
    &:hover {
      text-shadow: 3px 1px 0 #0c0c0c;
    }
  }
  .btn {
    background: $nav-link-color-hover;
    &:hover {
      background: darken($nav-link-color-hover, 5%);
      color: #fff;
    }
  }
  .copyright {
    font-size: .95em;
    text-align: right;
    line-height: 1.5;
  }
  p {
    font-size: 1em;
  }
  @media screen and (max-width:750px) {
    .copyright {
      text-align: center;
    }
    .btn {
      width: 100%;
    }
    p {
      text-align: center;
    }
  }
}

.error-page {
  text-align: center;
  color: #555555;
  h1 {
    color: lighten(#B64926, 40%);
    font-size: 15em;
    margin: 0;
  }
  margin-bottom: 15em;
}