@import 'functions';
@import 'variables';

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  outline: none;
  background: $background-color;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  padding: 2.5em 1.5em;
  @media screen and (max-width:750px) {
    font-size: 1.1em;
  }
}

a {
  color: $nav-link-color;
  &:hover {
    color: $nav-link-color-hover;
    text-decoration: none;
  }
}

p, ul, ol, pre, table {
  font-size: 1.25em;
  line-height: 1.65;
}

p {
  margin: 1.2em 0;
  a {
    color: $nav-link-color-hover;
    &:hover {
      color: lighten($nav-link-color-hover, 15%);
    }
  }
}

svg {
  max-height: 100%;
}

.alert {
  margin: 0 0 1em;
  font-size: 1em;
  border: none;
  &.alert-info {
    background: #d9f1ff;
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif', serif;
  margin: 2em 0 .8em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}


ul, ol {
  margin-left: 1.5em;
  ul {
    font-size: 1em;
  }
}

table, blockquote {
  margin: 3em 0;
}

pre {
  margin: 1.25em 0 3em;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px; /* or 950px */
}

.brand {
  text-align: left;
  margin-top: 2em;
  @media screen and (max-width:991px) {
    text-align: center;
  }
  #logo {
    max-width: 175px;
    max-height: 225px;
    @media screen and (max-width:750px) {
      max-width: 125px;
      max-height: 175px;
    }
  }

}

.main-nav {
  font-family: "Open Sans", serif;
  text-align: right;
  margin-top: 6em;
  padding: 0;
  ul {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: .2em;
    &>a{
      &:hover {
        color: lighten($nav-link-color-hover, 40%);
        -webkit-transition: box-shadow .25s, background .25s;
        -moz-transition: box-shadow .25s, background .25s;
        -ms-transition: box-shadow .25s, background .25s;
        -o-transition: box-shadow .25s, background .25s;
        transition: box-shadow .25s, background .25s;
        background: lighten($nav-link-color-hover,10%);
        box-shadow: 0 0 0 5px lighten($nav-link-color-hover, 20%);

      }
    }
  }
  @media screen and (max-width:991px) {
    margin-top: 2em;
    text-align: center;
    li > a {
      padding: .35em 0;
    }
    li {
      width: 25%;
    }
  }
  @media screen and (max-width:450px) {
    li {
      font-size: .75em;
    }
  }
}

.pagination {
  display: block;
  text-align: center;
  margin: 4em 0;
  padding: 0;
  .newer-posts {
    position: absolute;
    left: 0;
  }
  .older-posts {
    position: absolute;
    right: 0;
  }
}

.post {
  margin-top: 6em;
  img {
    max-width: 100%;
    display: block;
  }
  .post-title {
    font-size: 2.75em;
  }
  .post-title.loop-display {
    font-size: 2.25em;
  }
  .post-meta, time{
    margin: 0;
    color: lighten($text-color, 25%);
    a {
      color: $nav-link-color-hover;
      &:hover {
        color: lighten($nav-link-color-hover, 15%);
      }
    }
  }
.comments {
  margin-top: 3em;
}
.asset {
  a {
    text-align: center;
    margin: .8em 0 3em;
    font-size: 1.2em;
    display: block;
    padding: 1em;
    box-shadow: 2px 2px 2px rgba(76, 76, 76, 0.36);
  }
}

  h1,h2:first-child {
    margin-top: .25em;
  }
}

footer.site-footer {
  margin: 4em 0;
  text-align: center;
  &>.copyright {
    color: #7c7c7c;
    font-size: .95em;
    line-height: 1.5;
  }
}