@import 'functions';
@import 'variables';

*, *::after, *::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  padding: 0 1.5em;
}

a {
  color: $nav-link-color;
  &:hover {
    color: $nav-link-color-hover;
    text-decoration: none;
  }
}

p, ul, ol, pre, table {
  font-size: 1.25em;
  line-height: 1.65;
}

p {
  a {
    color: $nav-link-color-hover;
    &:hover {
      color: lighten($nav-link-color-hover, 15%);
    }
  }
}

svg {
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif', serif;
  margin: 2em 0 .8em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}


ul, ol {
  margin-left: 1.5em;
  ul {
    font-size: 1em;
  }
}

table, blockquote {
  margin: 3em 0;
}

pre {
  margin: 1.25em 0 3em;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px; /* or 950px */
}

.brand {
  text-align: left;
  margin-top: 2em;
  @media screen and (max-width:991px) {
    text-align: center;
  }
  #logo {
    max-width: 175px;
    max-height: 225px;
  }

}

.main-nav {
  font-family: "Open Sans", serif;
  text-align: right;
  margin-top: 6.725em;
  @media screen and (max-width:991px) {
    margin-top: 2em;
    text-align: center;
  }
  ul {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    a{
      padding: .3em .8em;
      &:hover {
        background: none;
      }
    }
  }
}

.pagination {
  text-align: center;
  margin: 2em 0;
  padding: 0;
  .newer-posts {
    position: absolute;
    left: 0;
  }
  .older-posts {
    position: absolute;
    right: 0;
  }
}

.post {
  margin-top: 4.5em;
  img {
    max-width: 100%;
    display: block;
  }
  .post-title {
    font-size: 2.75em;
  }
  .post-title.loop-display {
    font-size: 2.25em;
  }
  .post-meta, time{
    margin: 0;
    color: lighten($text-color, 25%);
    a {
      color: $nav-link-color-hover;
      &:hover {
        color: lighten($nav-link-color-hover, 15%);
      }
    }
  }

  h1,h2:first-child {
    margin-top: .25em;
  }
}

footer.site-footer {
  margin: 4em 0;
  text-align: center;
  .copyright {
    line-height: 1.5;
  }
}