<nav class="col-md-12">
    <ul class="pager">
        {{#if prev}}
            <li class="previous" ><a class="accent-link" href="{{pageUrl prev}}">&larr; Previous</a></li>
        {{/if}}
        {{#if next}}
            <li class="next"><a class="accent-link" href="{{pageUrl next}}">Next &rarr;</a></li>
        {{/if}}
    </ul>
</nav>