*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 2em 0 0;
  outline: none;
  background: #ffffff;
  color: #484848;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 1.1em; } }

a {
  color: #313131; }
  a:hover {
    color: #468966;
    text-decoration: none; }

p, ul, ol, pre, table {
  font-size: 1.25em;
  line-height: 1.65; }

p {
  margin: 1.2em 0; }
  p a {
    color: #468966; }
    p a:hover {
      color: #69b28c; }

svg {
  max-height: 100%; }

.alert {
  margin: 0 0 .5em;
  font-size: 1em;
  border: none; }
  .alert.alert-info {
    color: #B64926;
    background: #ecb4a3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif', serif;
  margin: 2em 0 .8em; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

ul, ol {
  margin-left: 1.5em; }
  ul ul, ol ul {
    font-size: 1em; }

table, blockquote {
  margin: 3em 0; }

pre {
  margin: 2.5em 0 2.5em; }
  pre code {
    overflow-wrap: normal;
    white-space: pre; }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  /* or 950px */ }

.brand {
  text-align: left;
  margin-top: 2em; }
  @media screen and (max-width: 991px) {
    .brand {
      text-align: center; } }
  .brand #logo {
    max-width: 175px;
    max-height: 225px; }
    @media screen and (max-width: 750px) {
      .brand #logo {
        max-width: 125px;
        max-height: 175px; } }

.accent-link {
  border-radius: 5px; }
  .accent-link:hover {
    color: #f0f7f4;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    background: #58aa7f !important;
    box-shadow: 0 0 0 5px #7abb99; }

.main-nav {
  font-family: "Open Sans", serif;
  text-align: right;
  margin-top: 6em;
  padding: 0; }
  .main-nav ul {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none; }
  .main-nav li {
    display: inline-block;
    padding: .2em; }
  @media screen and (max-width: 991px) {
    .main-nav {
      margin-top: 2em;
      text-align: center; }
      .main-nav li > a {
        padding: .35em 0; }
      .main-nav li {
        width: 25%; } }
  @media screen and (max-width: 450px) {
    .main-nav li {
      font-size: .75em; } }

.pager {
  margin: 4em 0; }
  .pager li > a {
    border: none; }

.post {
  margin-top: 6em; }
  .post img {
    max-width: 100%;
    margin: 2em auto;
    display: block; }
  .post .post-title {
    font-size: 2.75em; }
  .post .post-title.loop-display {
    font-size: 2.25em; }
  .post .post-meta, .post time {
    margin: 0;
    color: #888888; }
    .post .post-meta a, .post time a {
      color: #468966; }
      .post .post-meta a:hover, .post time a:hover {
        color: #69b28c; }
  .post .comments {
    margin-top: 3em; }
  .post .asset a {
    text-align: center;
    margin: .8em 0 3em;
    font-size: 1.2em;
    display: block;
    padding: 1em;
    background: #468966;
    border: 1px solid #35674d;
    box-shadow: 2px 2px 2px rgba(76, 76, 76, 0.36); }
    .post .asset a:hover {
      background: #58aa7f; }
    .post .asset a:active {
      background: #35674d; }
  .post h1, .post h2:first-child {
    margin-top: .25em; }

@media screen and (max-width: 750px) {
  #mc_embed_signup .btn {
    margin-top: 1em; } }

.site-footer {
  margin: 4em 0 0;
  color: #e1e0f3;
  padding: 2em 0;
  text-align: left;
  background: #24242d; }
  .site-footer a {
    color: #B64926;
    text-shadow: 2px 0 0 #131313; }
    .site-footer a:hover {
      text-shadow: 3px 1px 0 #0c0c0c; }
  .site-footer .btn {
    background: #468966; }
    .site-footer .btn:hover {
      background: #3d7859;
      color: #fff; }
  .site-footer .copyright {
    font-size: .95em;
    text-align: right;
    line-height: 1.5; }
  .site-footer p {
    font-size: 1em; }
  @media screen and (max-width: 750px) {
    .site-footer .copyright {
      text-align: center; }
    .site-footer .btn {
      width: 100%; }
    .site-footer p {
      text-align: center; } }

.error-page {
  text-align: center;
  color: #555555;
  margin-bottom: 15em; }
  .error-page h1 {
    color: #f0c6b8;
    font-size: 15em;
    margin: 0; }

/*# sourceMappingURL=app.css.map */
